// Font settings
$ff-Gogh: 'Gogh';
$ff-Raleway: 'Raleway';

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;

// Colors
$clr-white: #ffffff;
$clr-black: #000000;

$clr-main: #14cccc;
$clr-dark: #11a6a6;
$clr-light: #17e5e5;
$clr-error: #ff6666;

$clr-gray-500: #030d0d;
$clr-gray-400: #3d4040;
$clr-gray-300: #daf2f2;
$clr-gray-200: #e1fafa;
$clr-gray-100: #ffffff;

// Shadows
$shadow-xs: 0px 0px 20px rgba(13, 64, 64, 0.1);

// Others
$rounded-xs: 4px;

$max-container-width: 1420px;
$header-height: 72px;

$screen-fullhd-width: 1920px;
$screen-hd-width: 1366px;
$screen-tablet-width: 786px;
$screen-phone-width: 374px;
